<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container-fluid">
    <div class="row">

        <div class="col-xs-6 col-md-4"></div>
        <div class="col-xs-6 col-md-4">
            <div class="account-wall">
                <div id="my-tab-content" class="tab-content">
                    <div class="tab-pane active" id="login">
                        <img class="logo-img" alt="">
                        <div class="welcome">Welcome to Tamer!</div>
                        <form class="form-signin" action="" method="">
                            <input type="text" class="form-control" placeholder="email" required autofocus>
                            <input type="text" class="form-control" placeholder="Password" required>
                            <input type="submit" class="btn btn-lg btn-default btn-block" value="Log in" />
                        </form>
                        <div id="tabs" data-tabs="tabs">
                            <p class="text-center"><a href="#register" data-toggle="tab">Become a new Tamer!</a></p>

                        </div>
                        <div class="col-xs-6 col-md-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>